.pagination {
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
    border-bottom: 0.2em solid #50B2C0; 
}
.page-link, .page-back, .page-next {
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    border: none;
}
.pagination button:hover {
    background-color: red;
}