.List__Container {
background-color: peachpuff;
display: grid;
grid-template-columns: 128px 1fr;
}
.List__Image {
border-radius: 50%;
width: 128px;
height: 128px;
}
.List__Info {
    padding: 10px 10px 10px 10px;
}